/* Navigation Bar */
#navbar{
    background-color: rgb(243, 243, 243);
    padding: 8px;
}
#navbar img{
    height: auto;
    width: 7rem;
}
#navbar li{
    float: right;
    margin-right: 40px;
    list-style: none;
    margin-top: 8px;
}
#navbar a{
    text-decoration: none;
    color: rgb(52, 6, 138);
    font-weight: bold;
    font-family: roboto;
}
#navbar a:hover{
    color: red;
}

/* Hedaer Banner */
#header-banner{
    background-image: url(pic001.jpg);
    padding: 150px 0px 150px 0px;
    width: 100%;
    background-size: cover;
}
#header-banner div{
    background-color: #fff;
}
#header-banner span{
    color: rgb(52, 6, 138);
}
#header-banner h1{
    text-align: center;
    font-size: 5rem;
    color: #a10d0d;
}

/* About Us */
#aboutus{
    margin-top: 100px;
    font-family: roboto;
}
#aboutus h2{
    text-align: center;
    font-size: 3rem;
}
#aboutus p{
    padding: 0rem 7rem 0rem 7rem;
    text-align: center;
}
#aboutus img{
    height: auto;
    width: 100%;
}

/* Sliding Images */
#sliding-images{
    background-color: rgb(52, 6, 138);
    padding: 30px;
}
#sliding-images img{
    height: auto;
    width: 15rem;
    margin-left: 5rem;
}
